/* WebKit (Chrome, Edge, Safari) */
.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* gray-400 */
  border-radius: 9999px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af transparent;
}
