/* src/App.css */
@import "tailwindcss";


@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }
  .animate-spin-reverse {
    animation: spin 1.5s linear infinite reverse;
  }
}


/* White scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}
